* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100vw;
    background-color: #f5f5f2;
}

header {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

/* Estilo quando o header rolar a página */
header.scrolled {
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombras para dar destaque ao header */
}

nav {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    width: 100vw;
    box-shadow: 0px -25px 40px 0px black;
}

.container-header-links {
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 20px;
}

.container-header-links ul {
    display: flex;
    gap: 20px;
}

.container-header-links ul li {
    list-style: none;
    transition: all 0.3s ease-in-out;
}

.container-header-links ul li:hover {
    list-style: none;
    transform: translateY(-5px);
}

nav .container-header-links ul li a {
    text-decoration: none;
    color: rgba(155, 153, 153, 0.732);
    cursor: pointer;
}

nav .container-header-links ul li a:hover {
    color: rgb(150, 150, 246);
}


.container-header-contato {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

.container-header-contato h3 {
    color: rgba(0, 0, 0, 0.482);
    cursor: pointer;
}

/* Sessão 1 */
.container-sessao1 {
    display: flex;
    width: 100vw;
    padding: 100px 50px 0px 50px;
    visibility: hidden;
}

.container-content {
    display: flex;
    padding: 0;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container-content div img {
    height: 670px;
}

.container-content-text div h2 {
    font-weight: 100;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.809);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span {
    font-weight: bold;
}

.container-btn {
    display: flex;
    padding: 20px;
    text-align: left;
    justify-content: left;
}

.container-btn button {
    border: none;
    padding: 10px;
    width: 200px;
    color: white;
    background-color: rgb(150, 150, 246);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.container-btn button:hover {
    color: rgb(150, 150, 246);
    background-color: white;
    border: 1px solid rgb(150, 150, 246);
}

/* Sessão 2 */

.container-text-img{
    display: flex;
    padding: 50px 20px 25px 20px;
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container-text-img div{
    padding-bottom: 50px;
}

.container-text-img div h3{
    color: rgba(0, 0, 0, 0.374);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-text-img img{
    height: 250px;
}

.container-text-sessao2 p{
    color: rgba(0, 0, 0, 0.441);
    width: 600px;
}





.container-sesssao3{
    display: flex;
    padding: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.txt-services{
    margin-bottom: 50px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.373);
}

.container-services-imagens{
    display: flex;
}

.container-services-imagens div{
    gap: 30px
}

.container-services-imagens div img{
    height: 150px;
}

form{
    background-color: rgba(255, 255, 255, 0.842);
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid rgba(0, 0, 0, 0.406);
}

input{
    padding: 10px;
    border: none;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 255, 0.472);
    outline: none;
}

.container-local{
    display: flex;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container-localizacao{
    display: flex;
    color: rgba(7, 176, 7, 0.524);
    gap: 10px;
    margin-bottom: 80px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.container-localizacao img{
    cursor: pointer;
}
/* Sessão 4 */
.container-sessao4{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container-label{
    display: flex;
    text-align: left;
    justify-content: left;
    margin-top: 10px;
}

.btn-enviar{
    margin-top: 10px;
    background-color: rgb(145, 145, 244);
}


footer{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: white;
    background-color: rgb(150, 150, 246);
}

.container-text-footer{
    padding: 15px;
    border-radius: 100px;
    background-color: white;
}

footer h1{
    color: rgb(150, 150, 246);
    font-size: 14px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Responsividade MOBILE */

@media (min-width: 320px) and (max-width: 480px) {
    .container-header-contato{
        display: none;
    }

    .container-sesssao1{
        padding-left: 100px;
        /* padding-right: 20px; */
    }

    .container-content-text{
        position: absolute;
        margin-top: 70px;
        margin-right: 220px;
    }


    .container-content-text div h2{
        font-size: 20px;
    }

    .container-content div img{
        height: 250px;
    }

    .container-btn button{
        padding: 10px;
    }

    .container-text-img img{
        height: 180px;
    }

    .container-services-imagens div img{
        height: 70px;
    }

    .container-text-sessao2{
        padding: 10px;
    }
}
